{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css/' %}">
</head>
<body>
<header>
    Django TODO
</header>
<div class="content">
    <button class="add-task">Add Task</button>
    <table>
        <thead>
        <tr>
            <th>Task</th>
            <th>Created</th>
            <th>Due on</th>
            <th>Owner</th>
            <th>Mark</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% if task.mark is True %}
                <tr>
                    <td>
                        {{ task.name }}
                    </td>
                    <td>
                        {{ task.created }}
                    </td>
                    <td>
                        {{ task.due_on }}
                    </td>
                    <td>
                        {{ task.owner }}
                    </td>
                    <td>
                        {{ task.mark }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <button class="switch">View completed tasks</button>
    <button class="delete">Delete this list</button>
</div>
</body>
</html>